/* Main CSS */
body {
    font-family: sans-serif;
    font-size: 12pt;
}
.container {
    max-width: 920px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}
.content {
    background-color:#ffffff;
}
.title {
    font-size: 40pt;
    font-weight: bold;
	font-family: Palatino, serif;
    color: #4CAF50;
    padding: 20px;
}
.description {
    font-size: 10pt;
    padding: 20px;
    line-height: 20px;
}

/* Input form */
select {
	font-size: 12pt;
}
.inputForm {
    padding: 10px;
    margin: 0 auto;
    max-width: 800px;
}
.divFormElementContainer {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: top;
    width: 24%;
}
@media screen and (max-width: 796px) {
    .divFormElementContainer {
        width: 100%;
    }
    .header {
        width: 50%;
    }
}
.header {
	font-size: 12pt;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
}
.divFormElement {
    border: 1px solid #AAA;
    font-size: 10pt;
    display: inline-block;
    padding: 5px;
}
#urlInput {
    width: 100%;
}
.divFormElement.inner {
    min-width: 20px;
}
.comment {
    font-size: 8pt;
    color: #aaaaaa;
}
.parseButton {
	background-color: #4CAF50;
	border: none;
	color: white;
    cursor: hand;
    font-size: 14pt;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 40%;
	margin: 10px auto;
}
@media screen and (max-width: 480px) {
    .parseButton {
        width: 80%;
    }
}
.mouseOver:hover {
	background-color: #4C9050;
	cursor: pointer;
}

/* Output */
.output {
    padding-bottom: 50px;
    max-width: 920px;
}
#loading {
    position: absolute;
    background-color: rgba(255,255,255,0);
    z-index: 1000;
    text-align: center;
    margin: 0 auto;
    width: 90%;
    max-width: 920px;
}
#outputTable {
    border-spacing: 0px;
    overflow-x: auto;
    margin: 0 auto;
    width: 80%;
    table-layout: fixed;
    border-collapse: collapse;
}
@media screen and (max-width: 480px) {
    #outputTable {
        width: 100%;
    }
    #loading {
        width: 90%;
    }
}
#outputTable th, td {
    padding: 10px;
}
#outputTable th {
    background-color: #4CAF50;
    color: #ffffff;
    border-bottom: 1px solid black;
}
#outputTable tr:nth-child(even) {
    background-color: #EEEEEE;
}

/* Footer */
.footer {
	padding: 10px;
	font-size: 70%;
	position: fixed;
    bottom: 0px;
	width: 100%;
    color: #aaaaaa;
    background-color: #ffffff;
    z-index: 1001;
}

/* Old - to delete */
.inputForm td {
	padding: 10px;
    vertical-align: middle;
}

input[type="text"] {
	font-size: 10pt;
	display: block;
}
